<div class="latest_post">
    <a href="{{ post.url }}">
        {% if post.big_image %}
        <div class="image">
            <img src="{{ post.big_image }}">
        </div>
        {% endif %}
        <div class="title">
            {{ post.title }}
        </div>
        <div class="excerpt">
            {{ post.excerpt}}
        </div>
    </a>
    <div class="meta_data">
        <div class="date">{{ post.date | date: "%D" }}{% if post.location %}, {{ post.location }}{% endif %}</div>
        <div class="tags">
            {% for tag in post.tags %}
                <a href="/{{ site.tag_dir }}/{{ tag }}/"><span>{{ tag }}</span></a>
            {% endfor %}
        </div>
    </div>
</div>