---
layout: main_page
---

<div id="latest">
    <div id="posts" class="left">
        <div id="nav_tabs_container">
            <ul id="nav_tabs">
                <li class='item'><a href="/latest/">Все публикации</a></li>
                <li class='item is-active'><a href="/{{ site.tag_dir }}/{{ page.tag }}/">Публикации отмеченные «{{ page.tag }}»</a></li>
            </ul>
        </div>
        <div class="posts">
            {% for post in paginator.posts %}
                {% include latest_post_item.html post=post %}
            {% endfor %}
        </div>
        {% include down_paginator.html page=page paginator=paginator %}
    </div>
    <div class="right">
        {% include post_list_sidebar.html %}
    </div>
</div>